/*!
 * @copyright &copy; Kartik Visweswaran, Krajee.com, 2014 - 2016
 * @version 1.5.5
 *
 * Krajee Flat Blue Theme for bootstrap-checkbox-x. Load this theme file after 
 * `checkbox-x.css` on your page.
 *
 * For more JQuery/Bootstrap plugins and demos visit http://plugins.krajee.com
 * For more Yii related demos visit http://demos.krajee.com
 */
.cbx-krajee-flatblue .cbx {
    border-radius:0;
}

.cbx-krajee-flatblue .cbx-xs .cbx-icon-null {
    padding: 4px;
    margin: 2px;
}

.cbx-krajee-flatblue .cbx-sm .cbx-icon-null {
    padding: 5px;
    margin: 3px;
}

.cbx-krajee-flatblue .cbx-md .cbx-icon-null {
    padding: 6px;
    margin: 4px;
}

.cbx-krajee-flatblue .cbx-lg .cbx-icon-null {
    padding: 8px;
    margin: 5px;
}

.cbx-krajee-flatblue .cbx-xl .cbx-icon-null {
    padding: 10px;
    margin: 6px;
}

.cbx-krajee-flatblue .cbx-disabled .cbx-icon-null {
    background-color: #aaa;
}

.cbx-krajee-flatblue .cbx-active .cbx-icon-null {
    background-color: #3c8dbc;
}
.cbx-krajee-flatblue .cbx-active {
    color: #3c8dbc;
    box-shadow: none;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.cbx-krajee-flatblue .cbx-active:hover, .cbx-krajee-flatblue .cbx-active:focus {
    border-color: #0073b7;
    outline: 0;
    box-shadow: none;
}

.cbx-krajee-flatblue .cbx-active:focus {
    color: #0073b7;
}

.cbx-krajee-flatblue .cbx-disabled {
    color: #ddd;
    background: #fcfcfc;
    border: 1px solid #ddd;
    cursor: not-allowed;
}

.has-success .cbx-krajee-flatblue .cbx-active {
    border-color: #00a65a;
    color: #00a65a;
    box-shadow: none;
}

.has-success .cbx-krajee-flatblue .cbx-active:hover, .has-success .cbx-krajee-flatblue .cbx-active:focus {
    border-color: #00a65a;
    box-shadow: none;
}

.has-warning .cbx-krajee-flatblue .cbx-active {
    border-color: #f39c12;
    color: #f39c12;
    box-shadow: none;
}

.has-warning .cbx-krajee-flatblue .cbx-active:hover, .has-warning .cbx-krajee-flatblue .cbx-active:focus {
    border-color: #f39c12;
    box-shadow: none;
}

.has-error .cbx-krajee-flatblue .cbx-active {
    border-color: #dd4b39;
    color: #dd4b39;
    box-shadow: none;
}

.has-error .cbx-krajee-flatblue .cbx-active:hover, .has-error .cbx-krajee-flatblue .cbx-active:focus {
    border-color: #dd4b39;
    box-shadow: none;
}

.has-error .cbx-krajee-flatblue  .cbx-icon-null  {
    background-color: #dd4b39;
}

.has-success  .cbx-krajee-flatblue .cbx-icon-null {
    background-color: #00a65a;
}

.has-warning  .cbx-krajee-flatblue .cbx-icon-null {
    background-color: #f39c12;
}

.has-error .cbx-krajee-flatblue  .cbx-label  {
    color: #dd4b39;
}

.has-success .cbx-krajee-flatblue .cbx-label {
    color: #00a65a;
}

.has-warning .cbx-krajee-flatblue .cbx-label {
    color: #f39c12;
}